[submodule "RLJO/SLI"]
	path = RLJO/SLI
	url = git@github.com:RLJO/SLI.git
	branch = master

[submodule "odootechos/jean-bouteille"]
	path = odootechos/jean-bouteille
	url = git@github.com:odootechos/jean-bouteille.git
	branch = main

[submodule "matteopolleschi/odoo_partner_certificates"]
	path = matteopolleschi/odoo_partner_certificates
	url = git@github.com:matteopolleschi/odoo_partner_certificates.git
	branch = 14.0

[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 14.0
